.salary-container{
    margin-top:30px;
}

.top_section{
    margin-top:10px;
    background-color: #666666;;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.salaryConsolidated{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.salary_values{
    font-size: 18px;
    margin:auto;
    text-align:center;
    padding: 10px;
}

.yearly_section{
    margin-left: 40px;
    margin-right: 40px;
}