
.topnav {
    overflow: hidden;
    // background: #817d7d;
  }
  
  .topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: #fff;
  }
  
  .topnav a.active {
     color: #fff;
  }