.retirementHomeCalculatorContainer{
    margin-left:40px;
    background-color: #fff;
    border-radius: 20px;
    margin-right: 40px;
    margin-top: 40px;
}

.retirementCalculatorForm{
    padding: 20px
}